{% extends 'layout.html.twig' %}

{% set shortDescription = post.getContent()|slice(3, 900)|striptags %}
{% block description %}{{ shortDescription }}{% endblock %}
{% block title %}{{ post.getTitle() }} - Lucas de Oliveira{% endblock %}

{% block seo %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@oliveiralucasbr" />
<meta property="og:url" content="http://whoami.deoliveiralucas.net/blog/{{ post.getSlug() }}" />
<meta property="og:title" content="{{ post.getTitle() }}" />
<meta property="og:description" content="{{ shortDescription }}" />
{% endblock %}

{% block content %}
<main role="main" class="container">
    <h1 class="mt-5 title">deoliveiralucas.net</h1>
    <p class="custom-nav">
        <a href="/">Home</a>
    </p>

    <h2 class="mt-5 font-weight-bold text-left">{{ post.getTitle() }}</h2>
    <small class="text-muted">{{ post.getPostedAt().format('Y M d, H\\h') }}</small> -
    <small class="text-muted">
        tags: {% for key, category in post.getCategories() %}{{ key > 0 ? ', ' }}<u>{{ category }}</u>{% endfor %}
    </small>
    <hr />

    <div class="post-content">{{ post.getContent()|raw }}</div>

    <div class="mt-5">
        <div id="disqus_thread"></div>

        <script>
            var disqus_config = function () {
                this.page.url = window.location.href;
                this.page.identifier = "{{ post.getSlug }}";
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://deoliveiralucas.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>

        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</main>
{% endblock %}
